@charset "UTF-8";
/* CSS Document */

.nav-section {
	background: red;
}

.nav-link {
	background: navy;
	color: lightgreen;
}

.action {
	color: crimson;
}

.action:hover {
	color: blue;
}

.company {
	color: blue;
}

.section.hero {
	background: lightblue;	
}

.section {
	background: purple;	
}

.special-row {
	background: green;	
}

.button {
	background: orange;	
}

/*interesting stuff:

http://dribbble.com/
http://www.nessst.com/

think about using a table to list available rabbits, sales item availability and breeding/gestation/kindling

also think about forms... check out codepen.io and type "form" then TAB for code

http://www.lukew.com/ff/entry.asp?1502

*/
